{% extends '/templates/default.html.twig' %}

{% block title %}PrendsTaGo - Vehicules
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/cars.css">
{% endblock %}

{% block content %}
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div id="texte" class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Vehicules PrendsTaGo</h1>
				<p id="texte" class="lead text-body-secondary">Offrez-vous une expérience inoubliable au volant de nos véhicules de prestige. Découvrez le confort, la puissance et l'élégance à chaque kilomètre parcouru. Réservez dès maintenant et transformez chaque trajet en une aventure mémorable.</p>
			</div>
		</div>
	</section>
	<form method="post">
		<div id="container-filter">
			<input type="text" id="search-bar" name="search" placeholder="Recherche...">
			<p></p>
			<div class="filter-container">
				<div class="filters">
					<label id="texte" , type="price">Prix :</label>
					<select id="price" name="price">
						<option value="1000">Tout</option>
						<option value="0-50">0€ - 50€</option>
						<option value="50-100">50€ - 100€</option>
						<option value="100-150">100€ - 150€</option>
						<option value="150-200">150€ - 200€</option>
					</select>

					<label id="texte" for="brand">Marque :</label>
					<select id="brand" name="brand">
						<option value="0">Tout</option>
						{% for brand in brands %}
							<option value="{{ brand.id }}">{{ brand.brandName }}</option>
						{% endfor %}
					</select>

					<label id="texte" for="color">Couleur :</label>
					<select id="color" name="color">
						<option value="0">Tout</option>
						{% for color in colors %}
							<option value="{{ color.id }}">{{ color.colorName }}</option>
						{% endfor %}
					</select>

					<label id="texte" for="passengers">Nombre de passagers :</label>
					<select id="passengers" name="passengers">
						<option value="0">Tout</option>
						{% for passenger in passengers %}
							<option value="{{ passenger.id }}">{{ passenger.number }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<p></p>
			<div class="save-btn" style="display:flex; justify-content:center;">
				<button type="submit" name="launch" class="btn btn-primary">Rechercher</button>
			</div>
		</div>
	</form>
	<div class="album bg">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<form method="post" id="starForm" style="display:none;">
					<input type="submit" id="starValue" name="starValue" value="0">
				</form>
				{% for one in data %}
					<div class="admin-card">
						<div class="col">
							<div class="card shadow-sm">
								{% if user != null %}
									{% set conditionValidee = false %}
									{% for userFavorie in userFavories %}
										{% if userFavorie.car.id == one.id %}
											<div class="star yellow" id="star{{ one.id }}" onclick="test({{ one.id }})" data-value="1">&#9733;</div>
											{% set conditionValidee = true %}
										{% endif %}
									{% endfor %}
									{% if conditionValidee != true %}
										<div class="star" id="star{{ one.id }}" onclick="test({{ one.id }})" data-value="0">&#9733;</div>
									{% endif %}
								{% endif %}
								{% if user == null %}
									<a href="/connexion">
									{% elseif 'none' in request[1] %}
										<a href="/">
										{% else %}
											<a href="{{ request[0] }}/vehicule/{{ one.id }}?{{ request[1] }}">
											{% endif %}
											<img class="bd-placeholder-img card-img-top" width="100%" height="275" src="{{ one.picture }}"/>
											<div class="card-body">
												<h5>Caractéristiques</h5>
												<p class="card-text">- Nombres de portes :
													{{ one.nbDoor }}</p>
												<p class="card-text">- Age minimum :
													{{ one.minAge }}</p>
												<p class="card-text">
													<h6>- A partir de
														{{ one.price }}€ / jour</h6>
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<div class="btn-group">
														<button type="button" class="btn btn-sm btn-outline-secondary">{{ one.brand.brandName }}
															{{ one.name }}</button>
														<button type="button" class="btn btn-sm btn-outline-secondary">{{ one.color.colorname }}</button>
													</div>
													<small class="text-body-secondary">
														{% if one.manual %}
															Manuelle
														{% else %}
															Automatique
														{% endif %}
													</small>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div>
				<div style="display:flex;justify-content:center;">
					<form method="post">
						{% if count != null %}
							{% for i in 1..count %}
								<input type="submit" class="btn btn-primary" name="pagination" value="{{ i }}">
							{% endfor %}
						{% endif %}
					</form>
				</div>
			</div>
			<p></p>
		{% endblock %}

		{% block script %}
			<script>
				function test(id) {
const star = document.getElementById('star' + String(id));

if (star.getAttribute('data-value') == 1) {
star.classList.remove('yellow');

star.setAttribute('data-value', 0);

document.getElementById('starValue').value = "0/" + id;
} else {
star.classList.add('yellow');

star.setAttribute('data-value', 1);

document.getElementById('starValue').value = "1/" + id;
}

document.getElementById('starValue').click();
}
			</script>
		{% endblock %}
