{% extends '/templates/default.html.twig' %}

{% block title %}PrendsTaGo - Une Voiture
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/onecar.css">
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeq2hPzggF1UpPuHe8A3qao36F9OuAlvc&callback=initMap" defer></script>
{% endblock %}

{% block content %}
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div id="texte" class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">{{ data.name }}</h1>
			</div>
		</div>
	</section>
	<div class="col bg">
		<div class="card shadow-sm">
			<img class="bd-placeholder-img card-img-top" src="{{ data.picture }}" alt="Car Photo">
			<div class="card-body">
				<h5>Caractéristiques</h5>
				<p class="card-text">- Nombres de portes :
					{{ data.nbDoor }}</p>
				<p class="card-text">- Age minimum :
					{{ data.minAge }}</p>
				<p class="card-text">- Nombres de passagers maximum :
					{{ data.passenger.number }}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">{{ data.brand.brandName }}</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">{{ data.color.colorName }}</button>
					</div>
					<small class="text-body-secondary">
						{% if data.manual %}
							Manuelle
						{% else %}
							Automatique
						{% endif %}
						-
						{{ data.type }}</small>
				</div>
				<p></p>
				<h5>Options</h5>
				<div class="radio-group">
					<p></p>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="options" id="radio1" checked>
						<label class="form-check-label" for="radio1">
							Pas de protection
						</label>
					</div>
					<p></p>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="options" id="radio2">
						<label class="form-check-label" for="radio2">
							Protection partiel (10 €)
						</label>
					</div>
					<p></p>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="options" id="radio3">
						<label class="form-check-label" for="radio3">
							Protection moyenne (30 €)
						</label>
					</div>
					<p></p>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="options" id="radio4">
						<label class="form-check-label" for="radio4">
							Protection totale (50 €)
						</label>
					</div>
					<p></p>
				</div>
				<p></p>
				<h5>Point de Récupération</h5>
				<div id="map"></div>
				<p></p>
				<h5>Informations du pilote</h5>
				<div class="form-group">
					<label for="lname">Nom :</label>
					<input type="text" id="lname" name="lname" required>
				</div>
				<div class="form-group">
					<label for="fname">Prénom :</label>
					<input type="text" id="fname" name="fname" required>
				</div>
				<div class="form-group">
					<label for="age">Age :</label>
					<input type="text" id="age" name="age" required>
				</div>
				<div class="form-group">
					<label for="email">Email :</label>
					<input type="text" id="email" name="email" required>
				</div>
				<div class="form-group">
					<label for="phone">Téléphone :
					</label>
					<input type="text" id="phone" name="phone" required>
				</div>
				<p></p>
				<div class="reserv">
					<input type="submit" value="Réserver" onclick="showSummaryModal()">
				</div>

				<div class="modal" id="summaryModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Récapitulatif de la réservation</h5>
							</div>
							<div class="modal-body">
								<div>
									<h4>Informations réservation:</h4>
									<p>- Date de début : 03/03/2003</p>
									<p>- Date de Fin : 03/03/2003</p>
									<p>- Nombres de jours : 0</p>
									<p>- Protection : Protection Totale(50€)</p>
								</div>
								<div>
									<h4>Caractéristiques:</h4>
									<p>- Nom de la voiture : BMW 320i</p>
									<p>- Nombres de portes : 5</p>
									<p>- Age minimum : 21</p>
									<p>- Nombres de passagers maximum : 5</p>
									<p>- Marque : BMW</p>
									<p>- Couleur : Gris</p>
									<p>- Manuelle / Automatique : Manuelle</p>
								</div>
								<div>
									<h4>Récupération: Lyon Perrache</h4>
								</div>
								<div>
									<h4>Informations Pilote:</h4>
									<p>- Nom : Doe</p>
									<p>- Prénom : John</p>
									<p>- Age : 21</p>
									<p>- Email : John.Doe@gmail.com</p>
									<p>- Téléphone : 00.00.00.00.00</p>
								</div>
								<div>
									<h4>Réservation sous le compte : Aucun compte</h4>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSummaryModal()">Payer</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeSummaryModal()">Fermer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		function initMap() {
var myLat = parseFloat("{{ data.location|split(':')[0] }}");
var myLng = parseFloat("{{ data.location|split(':')[1] }}");

var myLatLng = {
lat: myLat,
lng: myLng
};

var mapOptions = {
center: myLatLng,
zoom: 15
};

var map = new google.maps.Map(document.getElementById('map'), mapOptions);

var marker = new google.maps.Marker({position: myLatLng, map: map, title: 'Localisation'});
}

function showSummaryModal() {

$('#summaryModal').modal('show');
}

function closeSummaryModal() {
$('#summaryModal').modal('hide');
}
	</script>
{% endblock %}
